@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 80px;
}

:root {
  --text-color: #8b0000;
  --border-color: #b22222;
  --background-color: #ffe5e5;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-color);
}

main {
  width: 650px;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin: 40px 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

h2 {
  margin: 0;
  font-size: 29px;
}

button {
  padding: 6px 12px;
  border: 3px solid var(--border-color);
  background-color: #fff;
  font-size: 16px;
  box-shadow: 3px 3px var(--text-color);
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button:active {
  border: 1px solid var(--border-color);
}

.container .recent {
  width: 48%;
}

.container .recent h2 {
  float: left;
}

.container .recent [type="reset"] {
  float: right;
}

.container .recent .scores {
  clear: both;
  margin-top: 48px;
  border: 3px solid var(--border-color);
  padding-left: 0;
  height: 300px;
  overflow: auto;
  scroll-behavior: smooth;
}

.container .recent .scores li {
  list-style: none;
  padding: 10px;
  font-size: 17.5px;
  font-weight: 500;
}

.container .recent .scores li:nth-child(2n) {
  background-color: var(--background-color);
}

.container .add {
  width: 37%;
}

.container .add form {
  margin-top: 20px;
}

.container .add form input {
  margin-bottom: 15px;
  width: 96.4%;
  height: 30px;
  border: 3px solid var(--border-color);
}

.container .add form input::placeholder {
  color: var(--text-color);
  font-weight: 300;
}

.container .add form #submit {
  float: right;
}
